.button {
    background-color: black;
    color: white;
    height: 200px;
    width: 200px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  
    &:hover {
      background-color: red;
    }
  }
  